.DescriptionBlock{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
}

.descriptionItem{
}

.job{
    height: 2em;
}

.userIcon{
    filter: var(--svg-color-middle);
    margin: 0 1em 0 1em;
    height: 16em;
}