.user{
    display: grid;
    grid-template-rows: auto auto;
}

.userPhoto{
    margin: 0.5vh;
    height: 14vh;
    border-radius: 4vh;
}

.selectedPage{
    font-weight: bold;
    color: var(--color-controls);
}

.userIcon{
    margin: 0.5vh;
    height: 14vh;
    border-radius: 4vh;
    color: var(--color-middle);
}

.pageNumber{
    padding: 0.5vw;
}