
.Header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0 1em 1em 1em;
    align-items: center;
  }
  
  .Header img{

  }

  .login{

  }

  .login img{

  }

  .login p{
  
  }

  .login a{
 
  }

  .logo{
    color: var(--color-controls);
    height: 4em;
  }

  .userIcon{
    color: var(--color-elements);
    margin: 0 1em 0 1em;
    height: 4em;
  }

  .user{
    display: flex;
    align-items: center;
  }