.DescriptionBlock{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 22em;
}

.DescriptionBlock>* {
    flex: 1 1 2em;
}

.contacts{
}

.job{
    height: 2em;
}

.jobInfo{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.descriptionItem{

}

.userIcon{
    color: var(--color-middle);
    margin: 0 1em 0 1em;
    height: 16em;
}