*{padding: 0;margin: 0px;}
*{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.app-wrapper{
display: grid;
grid-template-areas: 
  "h h"
  "n c"
  ;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
  padding: 1em;
  grid-area: c;
  background-color:lightsteelblue;
}