*{padding: 0;margin: 0px;}
*{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

:root {
  --color-forms: white;
  --color-main: #3b3b3b;
  --color-middle: #6d6d6d;
  --color-background:#e2e2e2;
  --color-controls:#EC5113;
  --color-links: #13AEEC;
}

.app-wrapper{
  display: grid;
  grid-template-rows: auto auto;
}

.app-page{
  width: 80vw;
  display: grid;
  grid-template-columns: 20% 80%;
  margin-left: 10%;
}

.app-wrapper-content{
  background-color: var(--color-background);
  justify-self: stretch;
}

button{
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: white;
  background-color: var(--color-controls);
  font: 1em;
  font-weight: bold;
  width: fit-content;
  border: 0;
  border-radius: 1em;
}

button:disabled{
  background-color: var(--color-middle);
}

textarea{
  background-color: aliceblue;
  border: 0;
  border-radius: 1em;
  resize: none;
}