*{padding: 0;margin: 0px;}
*{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.app-wrapper{
display: grid;
grid-template-areas: 
  "h h"
  "n c"
  ;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
  padding: 1em;
  grid-area: c;
  background-color:lightsteelblue;
}

button{
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: white;
  background-color: slategrey;
  font: 1em;
  font-weight: bold;
  width: fit-content;
  border: 0;
  border-radius: 1em;
}

textarea{
  background-color: aliceblue;
  border: 0;
  border-radius: 1em;
  resize: none;
}